.panel-body {
    padding: 0;
    height: 225px;
    
}

.panel {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 2px;
}

.efeito:hover {
    transition: all 0.3s;
    transform: scale(1.15);
    box-shadow: 10px 10px 15px;
}

.efeito {
    box-shadow: 2px 2px 15px;
    transition: all 1s;

}

.painel img{
    height: 180px;
}

.box-buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: -2px;
    padding: 5px;
}

.box-buttons .col-sm-6 {
    padding: 1px;
} 

.input-group input,
.input-group span a {
    height: auto !important;
    padding: 0.4em !important;
}
.box-img {
    min-width: 200px;
    min-height: 280px;
    margin-top: 2em;
    border: 1px solid rgba(0,0,0,0.3);
}
.foto-title {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.alert-danger {
    margin-top: 10px;
}

.navbar {
    margin-bottom: 0;
}